<h1>Listing career_stats</h1>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @career_stats.each do |career_stat| %>
      <tr>
        <td><%= career_stat.player %></td>
        <td><%= link_to 'Show', career_stat %></td>
        <td><%= link_to 'Edit', edit_career_stat_path(career_stat) %></td>
        <td><%= link_to 'Destroy', career_stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Career stat', new_career_stat_path %>
