<h1>Listing game_stats</h1>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @game_stats.each do |game_stat| %>
      <tr>
        <td><%= game_stat.player %></td>
        <td><%= link_to 'Show', game_stat %></td>
        <td><%= link_to 'Edit', edit_game_stat_path(game_stat) %></td>
        <td><%= link_to 'Destroy', game_stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game stat', new_game_stat_path %>
