<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<%= link_to 'Search', players_path %>
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-6">
    <div class="jumbotron">
      <h1><%= @player.firstname %> <%= @player.lastname %></h1>
      <img src="<%= @scraper.picture %>">
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <span class="panel-title">Last Game</span>
        <span class="pull-right"><%= last_game_date %></span>
      </div>
      <div class="panel-body">
        <%= last_game_result %><br>
        <ul class="fullow-stats">
        <%= raw top_three_stats %>
        </ul>
      </div>
    </div>

    <div class="row">
      <p>
        <strong>Most Recent Game Stats: </strong>
        <%= @scraper.most_recent_0 %>
        <%= @scraper.most_recent_1 %>
        <%= @scraper.most_recent_2 %>
        <%= @scraper.most_recent_3 %>
        <%= @scraper.most_recent_4 %>
      </p>

      <p>
        <strong>Season Averages</strong>
        <%= @scraper.season_averages_hash %>
      </p>

      <p>
        <strong>Career Averages</strong>
        <%= @scraper.career_averages_hash %>
      </p>

      <p>
        <strong>Game Day</strong>
        <%= @scraper.game_day %>
      </p>

      <p>
        <strong>Game Time</strong>
        <%= @scraper.game_time %>
      </p>

      <p>
        <strong>Game Matchup</strong>
        <%= @scraper.game_matchup %>
      </p>
    </div>
  </div>


</div>


<div class="row">

<% begin %>
  <div class="col-sm-6">
    <a class="twitter-timeline" href="https://twitter.com/jlin7" data-widget-id="402571380798922752" data-screen-name="<%= @player.social_link.twitter.gsub("https://twitter.com/","") %>"></a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
<% rescue %>
<% end %>

  <div class="col-sm-6">
    <% @list.each do |part| %>
      <iframe width="560" height="315" src="//www.youtube.com/embed/<%= part %>" frameborder="0" allowfullscreen></iframe><br>
    <% end %>
  </div>

</div>


<div class="row">
  <div class="col-sm-6">
    <div class="fb-comments" data-href="http://localhost:3000/players/275" data-width="480" data-numposts="5" data-colorscheme="light"></div>
  </div>
</div>

</html>
