<h1>Listing season_stats</h1>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @season_stats.each do |season_stat| %>
      <tr>
        <td><%= season_stat.player %></td>
        <td><%= link_to 'Show', season_stat %></td>
        <td><%= link_to 'Edit', edit_season_stat_path(season_stat) %></td>
        <td><%= link_to 'Destroy', season_stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Season stat', new_season_stat_path %>
