<!DOCTYPE html>
<html>
<head>
  <title>NBA Stalk</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44809833-2', 'nbastalk.com');
  ga('send', 'pageview');

  $(function() {
    var availablePlayers = <%= raw @players_array.to_json %>;

    $( ".nav-search" ).autocomplete({
      source: availablePlayers,
      select: function( event, ui ) {
        window.location.href = ui.item.value;
        event.preventDefault();
      }
    });

    $(document).keypress(function(e) {
      if(e.which == 13) {
        var player_choice = $( "#players" ).val();
        var player_hash = $.grep(availablePlayers, function(hash){
          return hash.label.toLowerCase() == player_choice.toLowerCase();
        });
        var value = player_hash[0].value;
        window.location.href = value;
        // console.log(player_hash[0].value)
      }
    });

  });

</script>

</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand">NBAStalk</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="#">Top 10</a></li>
      <li><a href="#">Discuss</a></li>
    </ul>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control nav-search" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">About</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

  <%= yield %>


</body>
</html>
